GOLF_API_KEY=your_api_key_here
MLFLOW_TRACKING_URI=your_mlflow_tracking_uri_here
DAGSHUB_TOKEN=your_dagshub_token_here
FREEWEBAPI_GOLF_API_KEY=your_freewebapi_golf_api_key_here
FREEWEBAPI_GOLF_API_HOST=live-golf-data.p.rapidapi.com